body {
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    background-color: #242526;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: relative;
    width: 99vw;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.navbar-brand {
    font-size: 25px;
    background: -webkit-linear-gradient(#E32B1E, #EBAE71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "poppins";
    display: block;
    color: white;
    text-align: left; /* Align text to the left within the .navbar-brand element */
    text-decoration: none;
}


/* body {
    padding: 10px;
    font-size: 1rem;
    font-family: "Trebuchet MS";
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #242526;
} */
