{% extends 'layout.html' %}

{% block content %}
<h1 style="position: relative; top: 20px; font-family: 'poppins'; ">Hi! Get ready to learn today.</h1>

<div class="container">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/static/Hello.jpg" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-text" style="font-weight: bold;">Lesson 1</h1>
          <p class="card-text"> Basic Greetings</p>
        </div>
      </div>


      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/static/Ducky.jpg" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-text" style="font-weight: bold;">Lesson 2</h1>
          <p class="card-text">Objects</p>
        </div>
      </div>

      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/static/Alphabet.jpg" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-text" style="font-weight: bold;">Lesson 3</h1>
          <p class="card-text">Letters</p>
        </div>
      </div>

</div>



{% endblock %}