{% extends 'layout.html' %}

{% block content %}
<h1 style="position: relative; top: 20px; font-family: 'poppins'; ">What is American Sign Language (ASL)?</h1>

<h1 style="position: relative; top: 200px; font-family: 'poppins'; ">Learning Resources</h1>

<div class="fluff">
    American Sign Language is a natural language that serves as the predominant sign language of Deaf communities in the United States of America and most of Anglophone Canada!
</div>
<a href="https://en.wikipedia.org/wiki/American_Sign_Language" class="btn btn-primary">Wikipedia</a>
<ul class="long-card">
    <li class="card-body">
        <h5 class="card-title">ASLU Dictionary</h5>
        <p class="card-text">American Sign Language University's Free Sign Language Classes!</p>
        <a href="https://www.lifeprint.com/" class="btn btn-primary">Visit Website</a>
    </li>

    <li class="card-body">
        <h5 class="card-title">SignSchool</h5>
        <p class="card-text">Additional Signing Lessons!</p>
        <a href="https://www.signschool.com/" class="btn btn-primary">Visit Website</a>
    </li>
</ul>


{% endblock %}