{% extends 'layout.html' %} 
{% block title %}
    Login
{% endblock %}

{% block content %}
    <h1 class="login-text">Welcome to the future of learning American Sign Language.</h1>
    <form action="{{url_for('login')}}" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="Login">
    </form>
    Don't have an account?
    <a href="{{url_for('register')}}">Sign up!</a><br>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
{% endblock %}